* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.about {
  font-size: 10px;
  background-image: -webkit-linear-gradient(77deg, #270e4e 64%, rgb(204 182 239 / 41%)55%);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.about_container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 3rem;
  text-align: center;
}
.about_name {
  color: #511269;
  font-size: 1rem;
  font-weight: 800;
  letter-spacing: 8px;
  margin-bottom: 2rem;
  padding-top: 3rem;
}
.about_image {
  margin-bottom: 5rem;
  padding-top: 217px;
}
.about_image img {
  border-radius: 50%;
  width: 17rem;
  height: 17rem;
  object-fit: cover;
}
.about_text {
  line-height: 4rem;
  font-size: 1.3rem;
  color: aliceblue;
}
.btn {
  display: inline-block;
  font-size: 2rem;
  background: aliceblue;
  text-decoration: none;
  border-radius: 10px;
  color: aquamarine;
  margin-bottom: 2rem;
  transition: background 0.5s;
}
.btn:hover {
  background: bisque;
}